body
{
    padding: 0;
    margin: 0;
    border: 0;
    background-color: #f6f5f3;
}

a
{
    text-decoration: none;
    color: #0b2ca9;
}

a:hover
{
    color: #e00;
    transition: 0.3s ease-out;
}

input:focus,
button:focus,
a:focus
{
    outline: 0;
}

h1, h2, h3, h4, p
{
    margin: 0px;
}

.clear
{
    clear: left;
}

.font_arial
{
    font-family: Arial,sans-serif;
}

.remove_whitespaces
{
    font-size: 0;
}

.font_size_13
{
    font-size: 13px;
}

.font_size_15
{
    font-size: 15px;
}

.font_color_gray
{
    color: #827f7f;
}

.target_effect:focus
{
    box-shadow: 0 0 6px 2px rgba(255,204,0,.7);
}

.header
{
    white-space: nowrap;
    padding: 21px 0px 19px 22px;
    border-bottom: 1px solid #dedddb;
    background-color: #fff;
}

.header_logo
{

}

.logo_yandex
{
    display: block;
    float: left;
    width: 68px;
    height: 30px;
    margin-left: 6px;
    background: url("../images/header_logo_yandex.svg") no-repeat;
}

.logo_pasport
{
    display: block;
    float: left;
    width: 79px;
    height: 30px;
    margin-left: 7px;
    background: url("../images/header_logo_pasport.svg") no-repeat;
}

.content
{

}

.content_inner
{
    margin: 0 auto;
    box-sizing: border-box;
    width: 840px;
    padding: 49px 10px 50px 10px;
}

.house_roof
{
    margin: 0 auto;
    width: 300px;
    height: 50px;
    background: url("../images/house_roof.svg");
}

.user_avatar
{
    position: relative;
    top: 25px;
    left: -6px;
    margin: 0 auto;
    width: 42px;
    height: 71px;
    background: url("../images/user_avatar.svg")
}

.house_body
{
    margin: 0 auto;
    box-sizing: border-box;
    width: 300px;
    padding: 60px 20px 10px 20px;
    background: linear-gradient(to bottom, #e6eeff, #dde8ff);
    border-bottom: 1px solid #c9d2e5;
    border-right: 1px solid #c9d2e5;
    border-left: 1px solid #c9d2e5;
}

.house_forms
{

}

.field
{
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 32px;
    padding: 5px 10px 6px 10px;
    border-radius: 1px;
    margin-bottom: 10px;
    border-top: 1px solid #8d939e;
    border-right: 1px solid #a6acba;
    border-bottom: 1px solid #c1c8d8;
    border-left: 1px solid #a6acba;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.1);
}

.login_buttons
{
    margin-bottom: 10px;
}

.login_button_submit
{
    float: left;
    width: 220px;
    height: 32px;
    box-sizing: border-box;
    line-height: 0px;
    background: linear-gradient(to bottom, #ffdf5f, #ffcc01);
    border-radius: 3px 0 0 3px;
    border: 1px solid #8e8676;
    cursor: pointer;
}

.login_button_qr
{
    float: left;
    width: 38px;
    height: 32px;
    box-sizing: border-box;
    background: linear-gradient(to bottom, #ffdf5f, #ffcc01);
    border-radius: 0 3px 3px 0;
    border-top: 1px solid #8e8676;
    border-right: 1px solid #8e8676;
    border-bottom: 1px solid #8e8676;
}

.login_button_submit:hover,
.login_button_qr:hover
{
    background: linear-gradient(to bottom, #ffe680, #ffd42a);
}

.qr_code_img
{
    width: 16px;
    height: 16px;
    margin: 8px 7px 7px 11px;
    background: url("../images/login_button_qr_code.png") no-repeat;
}

.another_computer_block
{
    cursor: pointer;
}

.another_computer_checkbox
{
    width: 16px;
    height: 16px;
    margin: 0 2px 0 0;
    cursor: pointer;
}

input[type="checkbox"]+label
{
    background: #ffcc01;
}

.another_computer_text
{
    vertical-align: top;
    line-height: 17px;
}

.socials
{
    text-align: center;
}

.socials_buttons
{
    display: inline-block;
    margin: 7px auto 6px auto;
}

.vk,
.fb,
.twitter,
.mail,
.google,
.class
{
    border-radius: 3px;
    margin-right: 7px;
    float: left;
    width: 24px;
    height: 24px;
    cursor: pointer;
    opacity: 0.3;
}
.vk:hover,
.fb:hover,
.twitter:hover,
.mail:hover,
.google:hover,
.class:hover
{
    opacity: 1;
    transition: 0.1s ease-out;
}

.vk
{
    background: url("../images/socials_icons/socials_vk_notActive.svg") no-repeat;
}
.vk:hover
{
    background: url("../images/socials_icons/socials_vk_active.svg") no-repeat;
}

.fb
{
    background: url("../images/socials_icons/socials_fb_notActive.svg") no-repeat;
}
.fb:hover
{
    background: url("../images/socials_icons/socials_fb_active.svg") no-repeat;
}

.twitter
{
    background: url("../images/socials_icons/socials_twitter_notActive.svg") no-repeat;
}
.twitter:hover
{
    background: url("../images/socials_icons/socials_twitter_active.svg") no-repeat;
}

.mail
{
    background: url("../images/socials_icons/socials_mail_notActive.svg") no-repeat;
}
.mail:hover
{
    background: url("../images/socials_icons/socials_mail_active.svg") no-repeat;
}

.google
{
    background: url("../images/socials_icons/socials_google_notActive.svg") no-repeat;
}
.google:hover
{
    background: url("../images/socials_icons/socials_google_active.svg") no-repeat;
}

.class
{
    background: url("../images/socials_icons/socials_class_notActive.svg") no-repeat;
}
.class:hover
{
    background: url("../images/socials_icons/socials_class_active.svg") no-repeat;
}

.separator
{
    width: 300px;
    height: 1px;
    background-color: #c9d2e5;
    border-bottom: 1px solid #e8f0ff;
    margin-bottom: 9px;
    margin-left: -20px;
}

.additional_buttons
{

}

.additional_button_first
{
    float: left;
    width: 50%;
    text-align: left;
}

.additional_button_second
{
    float: right;
    width: 50%;
    text-align: right;
}

.button_forgot,
.button_to_register
{
    float: left;
    text-align: center;
    padding: 3px 9px 4px 9px;
    border-radius: 3px;
    border: 1px solid #b2bacc;
    color: black;
    cursor: pointer;
}

.button_to_register
{
    float: right;
}

.button_forgot:hover,
.button_to_register:hover
{
    color: black;
    border: 1px solid #8f95a2;
    transition: 0.1s ease-out;
}

.button_to_register
{
    font-weight: bold;
}

.footer
{
    position: fixed;
    width: 100%;
    height: 65px;
    bottom: 0;
    background-color: #f6f5f3;
    box-shadow: 0px 0 2px rgba(0,0,0,.4);;
}

.footer_inner
{
    box-sizing: border-box;
    padding: 0 10px 0 10px;
    margin: 0 auto;
    width: 860px;
}

.language
{
    box-sizing: border-box;
    height: 65px;
    float: left;
    padding: 25px 0 0 0;
}

.language_logo
{
    float: left;
    width: 16px;
    height: 14px;
    background: url("../images/footer_language_logo_rus.svg") no-repeat;
    margin-top: -2px;
}

.language_name
{
    display: block;
    float: left;
    margin-left: 5px;
}

.help
{
    box-sizing: border-box;
    height: 65px;
    float: left;
    margin-left: 577px;
    padding: 25px 0 0 0;
}

.copyright
{
    box-sizing: border-box;
    height: 65px;
    float: left;
    margin-left: 49px;
    padding: 25px 0 0 0;
}

.copyright_date
{

}